.listing-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

img[mat-card-image] {
  height: 250px;
  object-fit: cover;
}

mat-card-header {
  margin-top: 10px;
}