.auth-container {
  max-width: 400px;
  margin: 20px auto; 
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--primary-color);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

button {
  margin-top: 20px;
  width: 100%;
  height: 2.5rem;
}

.auth-link {
  margin-top: 15px;
  text-align: center;
}