.auth-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#error {
  background-color: pink;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  color: darkred;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}