.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  flex: 1; 
  min-width: 200px;
  margin-bottom: -1.25em;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

button[matFab] {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.results-count {
  margin-left: 20px;
  color: #666;
}

.results {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 30px;
}

@media (max-width: 400px) {

  .results {

    grid-template-columns: 1fr;
    
  }

} 