.details-container {
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr; 
  margin-top: 3px;
}

img[mat-card-image] {
  height: 250px;
  object-fit: cover;
  margin-bottom: 0;
}

.section-heading {
  font-size: 1.2rem;
  margin: 20px 0 10px;
  color: var(--primary-color);
  font-weight: bold;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

li {
  color: #333;
}


.apply-form {
  display: flex; 
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

@media (min-width: 800px) {
  .details-container {
    grid-template-columns: 1.5fr 1fr; 
    align-items: start;
  }
  
  .form-card {
    position: sticky;
    top: 80px;
  }

  img[mat-card-image] {
    height: 400px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .apply-form {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

}